.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width:200px
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items ul {
    display: flex;
    list-style-type: none;
}

.nav-items ul li {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    box-sizing: border-box;
    width: 200px;
    padding: 5px;
    margin:5px;
    background-color: beige;
}

.res-card h4 {
    margin: 10px 0px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}

.res-logo{
height: 50%;
width: 100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    box-sizing: border-box;
        width: 200px;
        height: 400px;
        padding: 5px;
        margin: 5px;
        background-color: beige;
}

.login {
    cursor: pointer;
    padding: 0 20px;
}

.filter{
    display: flex;
}